.nav-dropdown-button {
    cursor: pointer;
}

.logo {
    color: #3B813B!important;
}

.dropdown-menu>li>a:hover {
    color: #3B813B;
    text-decoration: none;
    background-color: #f5f5f5;
 }

 .login-link {
     font-weight: bold;
 }